.pto3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pto3-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.pto3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.pto3-links {
  flex: 1;
  display: flex;
  align-self: stretch;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.pto3-home {
  text-decoration: none;
}
.pto3-pto1 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.pto3-pto2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.pto3-pto3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.pto3-burger-menu {
  display: none;
}
.pto3-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.pto3-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.pto3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pto3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pto3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pto3-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.pto3-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.pto3-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.pto3-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.pto3-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.pto3-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.pto3-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.pto3-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pto3-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pto3-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pto3-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pto3-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pto3-features {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.pto3-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pto3-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pto3-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.pto3-image {
  width: 100%;
  height: 483px;
  object-fit: cover;
}
.pto3-definitons {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-custom-primary2);
}
.pto3-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-custom-primary1);
  border-width: 4px;
  flex-direction: column;
  justify-content: center;
}
.pto3-image1 {
  width: 393px;
  object-fit: cover;
}
.pto3-scriptures {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.pto3-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-custom-primary2);
  border-width: 4px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pto3-text26 {
  width: 100%;
  align-self: center;
}
.pto3-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-custom-primary2);
  border-width: 4px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pto3-text33 {
  width: 100%;
  align-self: center;
}
.pto3-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-custom-primary2);
  border-width: 4px;
  flex-direction: column;
}
.pto3-text45 {
  width: 100%;
  align-self: center;
}
.pto3-video {
  width: 100%;
  height: 453px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-custom-primary1);
}
.pto3-iframe {
  width: 668px;
  height: 377px;
}
@media(max-width: 991px) {
  .pto3-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .pto3-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pto3-desktop-menu {
    display: none;
  }
  .pto3-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pto3-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pto3-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pto3-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pto3-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pto3-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .pto3-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pto3-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .pto3-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .pto3-mobile-menu1 {
    padding: 16px;
  }
  .pto3-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
